In [64]:
import os
import sklearn
import pandas as pd
import numpy as np
from __future__ import division
import collections
from sklearn.cross_validation import train_test_split
from sklearn import svm
from sklearn.svm import SVC
from sklearn import linear_model
from sklearn import tree
from sklearn.cross_validation import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
import sys
from sklearn.ensemble import GradientBoostingRegressor
import math
import csv
%matplotlib inline
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import classification_report
import urllib
from sklearn.svm import LinearSVC

## Folder and path parameters

In [65]:
data_dir = "./Data"
kaggle_dir = os.path.join(data_dir, "Kaggle")
kenpom_dir = os.path.join(data_dir, "Kenpom")
sr_dir = os.path.join(data_dir, "Sports_ref")

In [66]:
num_team_stats = 14
teams_pd = pd.read_csv(os.path.join(kaggle_dir, "Teams.csv"))
teams_list = teams_pd["TeamName"].tolist()
print(teams_list[0:10])

['Abilene Chr', 'Air Force', 'Akron', 'Alabama', 'Alabama A&M', 'Alabama St', 'Albany NY', 'Alcorn St', 'Alliant Intl', 'American Univ']

## Using Pandas to visualize data

In [67]:
reg_season_compact_pd = pd.read_csv(kaggle_dir + "/RegularSeasonCompactResults.csv")
reg_season_compact_pd.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [68]:
reg_season_detailed_pd = pd.read_csv(kaggle_dir + '/RegularSeasonDetailedResults.csv')
reg_season_detailed_pd.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [69]:
seasons_pd = pd.read_csv(kaggle_dir + '/Seasons.csv')
seasons_pd.head()

   Season     DayZero RegionW    RegionX    RegionY    RegionZ
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast

In [70]:
teams_pd = pd.read_csv(kaggle_dir + '/Teams.csv')
teamList = teams_pd['TeamName'].tolist()
teams_pd["TeamName"] = teams_pd["TeamName"].replace("Chr", "Chrawoiefjoa")
print(teams_pd.head())
print(teamList[0])

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2018
1    1102    Air Force           1985          2018
2    1103        Akron           1985          2018
3    1104      Alabama           1985          2018
4    1105  Alabama A&M           2000          2018
Abilene Chr

In [71]:
sr_pd = pd.read_csv(sr_dir + "/2002_basic.csv", skiprows=1)
sr_pd.head()

,Rk,School,G,W,L,W-L%,SRS,SOS,W.1,L.1,...,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
0,1,Air Force,28,9,19,0.321,-0.95,3.23,3.0,11.0,...,331,465,0.712,154.0,614,327,228,39,390,NaN
1,2,Akron,31,10,21,0.323,-4.84,0.36,5.0,13.0,...,554,731,0.758,295.0,933,416,180,77,450,NaN
2,3,Alabama A&M,29,19,10,0.655,-11.33,-15.81,12.0,6.0,...,478,711,0.672,506.0,1217,426,395,116,504,NaN
3,4,Alabama-Birmingham,30,13,17,0.433,5.56,2.96,6.0,10.0,...,428,623,0.687,376.0,1117,433,231,87,448,NaN
4,5,Alabama State,32,19,13,0.594,-13.25,-14.15,12.0,6.0,...,483,755,0.640,389.0,1167,314,217,89,538,NaN

In [72]:
sr_pd = pd.read_csv(sr_dir + "/2002_adv.csv", skiprows=1)
sr_pd.head()

,Rk,School,G,W,L,W-L%,SRS,SOS,W.1,L.1,...,3PAr,TS%,TRB%,AST%,STL%,BLK%,eFG%,TOV%,ORB%,FT/FGA
0,1,Air Force,28,9,19,0.321,-0.95,3.23,3.0,11.0,...,0.485,0.585,42.3,61.4,NaN,3.2,0.553,22.1,NaN,0.288
1,2,Akron,31,10,21,0.323,-4.84,0.36,5.0,13.0,...,0.311,0.559,47.5,58.7,NaN,4.4,0.506,18.9,NaN,0.350
2,3,Alabama A&M,29,19,10,0.655,-11.33,-15.81,12.0,6.0,...,0.339,0.494,49.3,52.3,NaN,6.7,0.458,17.7,NaN,0.238
3,4,Alabama-Birmingham,30,13,17,0.433,5.56,2.96,6.0,10.0,...,0.332,0.512,50.5,58.6,NaN,5.2,0.477,17.9,NaN,0.243
4,5,Alabama State,32,19,13,0.594,-13.25,-14.15,12.0,6.0,...,0.317,0.514,51.2,43.9,NaN,4.9,0.479,20.9,NaN,0.287

In [73]:
kenpom_pd = pd.read_csv(kenpom_dir + "/summaries/summary02.csv")
kenpom_pd.head()

,Season,TeamName,Tempo,RankTempo,AdjTempo,RankAdjTempo,OE,RankOE,AdjOE,RankAdjOE,DE,RankDE,AdjDE,RankAdjDE,AdjEM,RankAdjEM
0,2002,Air Force,55.7833,327,54.1733,327,99.4506,190,103.8170,149,106.8100,283,105.4580,214,-1.64046,181
1,2002,Akron,66.7009,260,65.6394,251,102.6500,128,105.2430,130,110.8370,313,111.1810,295,-5.93802,227
2,2002,Alabama,69.7639,171,68.0142,170,108.2290,42,114.0460,24,96.0457,56,95.3126,32,18.73300,22
3,2002,Alabama A&M,81.6407,1,78.9833,1,97.8208,220,92.1604,304,90.6649,4,101.6930,136,-9.53265,262
4,2002,Alabama St.,68.1969,223,63.0507,305,94.9003,264,90.1231,312,93.9840,26,102.7400,159,-12.61680,272

In [74]:
kenpom_pd = pd.read_csv(kenpom_dir + "/Misc_stats_def/misc02.csv")
kenpom_pd.head()

,Season,TeamName,FG2Pct,RankFG2Pct,FG3Pct,RankFG3Pct,FTPct,RankFTPct,BlockPct,RankBlockPct,...,RankOppF3GRate,ARate,RankARate,OppARate,RankOppARate,StlRate,RankStlRate,OppStlRate,RankOppStlRate,DefensiveFingerprint
0,2002,Air Force,54.8061,4,37.2760,58,71.1828,92,6.8287,235,...,64,61.3508,48,47.3958,11,0.1412,11,0.1084,218,18.6
1,2002,Akron,48.4271,136,37.0600,62,75.7576,12,6.9726,226,...,201,57.3508,115,55.3594,167,0.0868,263,0.1140,260,2.0
2,2002,Alabama,50.6579,56,30.8677,290,73.5782,40,8.0468,176,...,191,50.5495,267,46.9880,8,0.1053,130,0.0881,53,7.9
3,2002,Alabama A&M,44.2636,284,31.5871,272,66.4157,253,9.4669,107,...,176,52.7370,217,52.4425,92,0.1665,1,0.1039,175,10.2
4,2002,Alabama St.,45.8801,244,33.4646,209,64.4444,286,5.7722,280,...,9,44.2424,315,48.7465,32,0.0985,181,0.1358,321,13.4

# Generating Necessary Dataframes

In [75]:
reg_season_compact_pd = pd.read_csv(os.path.join(kaggle_dir,'RegularSeasonCompactResults.csv'))
reg_season_compact_pd.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [76]:
conference_tourney_compact_pd = pd.read_csv(os.path.join(kaggle_dir,'ConferenceTourneyGames.csv'))
conference_tourney_compact_pd.head()

   Season ConfAbbrev  DayNum  WTeamID  LTeamID
0    2001      a_sun     121     1194     1144
1    2001      a_sun     121     1416     1240
2    2001      a_sun     122     1209     1194
3    2001      a_sun     122     1359     1239
4    2001      a_sun     122     1391     1273

In [77]:
NCAA_tourney_compact_pd = pd.read_csv(os.path.join(kaggle_dir,'NCAATourneyCompactResults.csv'))
NCAA_tourney_compact_pd.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [78]:
secondary_tourney_compact_pd = pd.read_csv(os.path.join(kaggle_dir,'NCAATourneyCompactResults.csv'))
secondary_tourney_compact_pd.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [79]:
teams_pd = pd.read_csv(os.path.join(kaggle_dir,'teams.csv'))
teamList = teams_pd['TeamName'].tolist()
teams_pd.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2018
1    1102    Air Force           1985          2018
2    1103        Akron           1985          2018
3    1104      Alabama           1985          2018
4    1105  Alabama A&M           2000          2018

In [80]:
conferences_pd = pd.read_csv(os.path.join(kaggle_dir,'conferences.csv'))
conferences_pd.head()

  ConfAbbrev                   Description
0      a_sun       Atlantic Sun Conference
1      a_ten        Atlantic 10 Conference
2        aac  American Athletic Conference
3        acc     Atlantic Coast Conference
4        aec       America East Conference

In [81]:
TeamConferences_pd = pd.read_csv(os.path.join(kaggle_dir,'TeamConferences.csv'))
TeamConferences_pd.head()

   Season  TeamID ConfAbbrev
0    1985    1114      a_sun
1    1985    1147      a_sun
2    1985    1204      a_sun
3    1985    1209      a_sun
4    1985    1215      a_sun

# Functions below are for getting/checking specific stats

In [82]:
def getTeamName(team_id):
    return teams_pd.loc[teams_pd["TeamID"] == team_id].values[0][1]
getTeamName(1105)

'Alabama A&M'

In [83]:
def getTeamID(team_name):
    return teams_pd.loc[teams_pd['TeamName'] == team_name].values[0][0]
getTeamID('Air Force')

1102

## Functions for handling the differences in naming btw the csvs

In [84]:
def handleKemponCsvs(df):
    #take out East Tennessee St.
    
    #some in kempon have quotes some dont, but shoulnt be a problem
    #For 2002
    #no Abilene Chr
    #no Alliant Intl
    #no Augusta
    #no Brooklyn
    #no Bryant
    #no Cent Arkansas
    #no Citadel
    #no Edwardsville
    #no ETSU
    #no 1167,CS Bakersfield,2008,2018
    #no FL Gulf Coast
    # 1168,CS Fullerton,1985,2018
    # 1169,CS Northridge,1991,2018
    # 1170,CS Sacramento,1992,2018
    #no tam c christi
    #ok im gonna stop tracking stuff thats missing
    df['TeamName'] = df['TeamName'].replace("St.", "St", regex=True)
    df['TeamName'] = df['TeamName'].replace("Albany", "Albany NY")
    df['TeamName'] = df['TeamName'].replace("American", "American Univ")
    df['TeamName'] = df['TeamName'].replace("Arkansas Little Rock", "Ark Little Rock")
    df['TeamName'] = df['TeamName'].replace("Arkansas Pine Bluff", "Ark Pine Bluff")
    df['TeamName'] = df['TeamName'].replace("Bethune Cookman", "Bethune-Cookman")
    df['TeamName'] = df['TeamName'].replace("Birmingham Southern", "Birmingham So")
    df['TeamName'] = df['TeamName'].replace("Boston University", "Boston Univ")
    df['TeamName'] = df['TeamName'].replace("Cal Poly", "Cal Poly SLO")
    df['TeamName'] = df['TeamName'].replace("Central Michigan", "C Michigan")
    df['TeamName'] = df['TeamName'].replace("Central Connecticut", "Central Conn")
    df['TeamName'] = df['TeamName'].replace("Charleston Southern", "Charleston So")
    df['TeamName'] = df['TeamName'].replace("Coastal Carolina", "Coastal Car")
    df['TeamName'] = df['TeamName'].replace("College of Charleston", "Col Charleston")
    df['TeamName'] = df['TeamName'].replace("Eastern Illinois", "E Illinois")
    df['TeamName'] = df['TeamName'].replace("Eastern Kentucky", "E Kentucky")
    df['TeamName'] = df['TeamName'].replace("Eastern Michigan", "E Michigan")
    df['TeamName'] = df['TeamName'].replace("Eastern Washington", "E Washington")
    df['TeamName'] = df['TeamName'].replace("Fairleigh Dickinson", "F Dickinson")
    df['TeamName'] = df['TeamName'].replace("Florida Atlantic", "FL Atlantic")
    df['TeamName'] = df['TeamName'].replace("George Washington", "G Washington")
    df['TeamName'] = df['TeamName'].replace("Georgia Southern", "Ga Southern")
    df['TeamName'] = df['TeamName'].replace("Illinois Chicago", "IL Chicago")
    df['TeamName'] = df['TeamName'].replace("Kent St", "Kent")
    df['TeamName'] = df['TeamName'].replace("Loyola Marymount", "Loy Marymount")
    df['TeamName'] = df['TeamName'].replace("Loyola Chicago", "Loyola-Chicago")
    df['TeamName'] = df['TeamName'].replace("Maryland Eastern Shore", "MD E Shore")
    df['TeamName'] = df['TeamName'].replace("Mississippi Valley St", "MS Valley St")
    df['TeamName'] = df['TeamName'].replace("Northern Illinois", "N Illinois")
    df['TeamName'] = df['TeamName'].replace("North Carolina A&T", "NC A&T")
    df['TeamName'] = df['TeamName'].replace("North Carolina St", "NC State")
    df['TeamName'] = df['TeamName'].replace("Prairie View A&M", "Prairie View")
    df['TeamName'] = df['TeamName'].replace("South Carolina St", "S Carolina St")
    df['TeamName'] = df['TeamName'].replace("Southeastern Louisiana", "SE Louisiana")
    df['TeamName'] = df['TeamName'].replace("Southeast Missouri St", "SE Missouri St")
    df['TeamName'] = df['TeamName'].replace("Stephen F. Austin", "SF Austin")
    df['TeamName'] = df['TeamName'].replace("Tennessee Martin", "TN Martin")
    df['TeamName'] = df['TeamName'].replace("Troy St", "Troy")
    df['TeamName'] = df['TeamName'].replace("Texas Southern", "TX Southern")
    df['TeamName'] = df['TeamName'].replace("Western Carolina", "W Carolina")
    df['TeamName'] = df['TeamName'].replace("Western Illinois", "W Illinois")
    df['TeamName'] = df['TeamName'].replace("Western Kentucky", "WKU")
    df['TeamName'] = df['TeamName'].replace("Western Michigan", "W Michigan")
    #holy fuck dammit my eyes hurt
    return df

In [85]:
def handleSrCsvs(df):
    # The stats CSV is a lit different in terms of naming so below is just some data cleaning
    df['School'] = df['School'].replace('(State)', 'St', regex=True)
    df['School'] = df['School'].replace('St.', 'St', regex=True) 
    df['School'] = df['School'].replace('Albany (NY)', 'Albany NY') 
    df['School'] = df['School'].replace('Boston University', 'Boston Univ')
    df['School'] = df['School'].replace('Central Michigan', 'C Michigan')
    df['School'] = df['School'].replace('(Eastern)', 'E', regex=True)
    df['School'] = df['School'].replace('Louisiana St', 'LSU')
    df['School'] = df['School'].replace('North Carolina St', 'NC State')
    df['School'] = df['School'].replace('Southern California', 'USC')
    df['School'] = df['School'].replace('University of California', 'California', regex=True) 
    df['School'] = df['School'].replace('American', 'American Univ')
    df['School'] = df['School'].replace('Arkansas-Little Rock', 'Ark Little Rock')
    df['School'] = df['School'].replace('Arkansas-Pine Bluff', 'Ark Pine Bluff')
    df['School'] = df['School'].replace('Bowling Green St', 'Bowling Green')
    df['School'] = df['School'].replace('Brigham Young', 'BYU')
    df['School'] = df['School'].replace('Cal Poly', 'Cal Poly SLO')
    df['School'] = df['School'].replace('Centenary (LA)', 'Centenary')
    df['School'] = df['School'].replace('Central Connecticut St', 'Central Conn')
    df['School'] = df['School'].replace('Charleston Southern', 'Charleston So')
    df['School'] = df['School'].replace('Coastal Carolina', 'Coastal Car')
    df['School'] = df['School'].replace('College of Charleston', 'Col Charleston')
    df['School'] = df['School'].replace('Cal St Fullerton', 'CS Fullerton')
    df['School'] = df['School'].replace('Cal St Sacramento', 'CS Sacramento')
    df['School'] = df['School'].replace('Cal St Bakersfield', 'CS Bakersfield')
    df['School'] = df['School'].replace('Cal St Northridge', 'CS Northridge')
    df['School'] = df['School'].replace('East Tennessee St', 'ETSU')
    df['School'] = df['School'].replace('Detroit Mercy', 'Detroit')
    df['School'] = df['School'].replace('Fairleigh Dickinson', 'F Dickinson')
    df['School'] = df['School'].replace('Florida Atlantic', 'FL Atlantic')
    df['School'] = df['School'].replace('Florida Gulf Coast', 'FL Gulf Coast')
    df['School'] = df['School'].replace('Florida International', 'Florida Intl')
    df['School'] = df['School'].replace('George Washington', 'G Washington')
    df['School'] = df['School'].replace('Georgia Southern', 'Ga Southern')
    df['School'] = df['School'].replace('Gardner-Webb', 'Gardner Webb')
    df['School'] = df['School'].replace('Illinois-Chicago', 'IL Chicago')
    df['School'] = df['School'].replace('Kent St', 'Kent')
    df['School'] = df['School'].replace('Long Island University', 'Long Island')
    df['School'] = df['School'].replace('Loyola Marymount', 'Loy Marymount')
    df['School'] = df['School'].replace('Loyola (MD)', 'Loyola MD')
    df['School'] = df['School'].replace('Loyola (IL)', 'Loyola-Chicago')
    df['School'] = df['School'].replace('Massachusetts', 'MA Lowell')
    df['School'] = df['School'].replace('Maryland-Eastern Shore', 'MD E Shore')
    df['School'] = df['School'].replace('Miami (FL)', 'Miami FL')
    df['School'] = df['School'].replace('Miami (OH)', 'Miami OH')
    df['School'] = df['School'].replace('Missouri-Kansas City', 'Missouri KC')
    df['School'] = df['School'].replace('Monmouth', 'Monmouth NJ')
    df['School'] = df['School'].replace('Mississippi Valley St', 'MS Valley St')
    df['School'] = df['School'].replace('Montana St', 'MTSU')
    df['School'] = df['School'].replace('Northern Colorado', 'N Colorado')
    df['School'] = df['School'].replace('North Dakota St', 'N Dakota St')
    df['School'] = df['School'].replace('Northern Illinois', 'N Illinois')
    df['School'] = df['School'].replace('Northern Kentucky', 'N Kentucky')
    df['School'] = df['School'].replace('North Carolina A&T', 'NC A&T')
    df['School'] = df['School'].replace('North Carolina Central', 'NC Central')
    df['School'] = df['School'].replace('Pennsylvania', 'Penn')
    df['School'] = df['School'].replace('South Carolina St', 'S Carolina St')
    df['School'] = df['School'].replace('Southern Illinois', 'S Illinois')
    df['School'] = df['School'].replace('UC-Santa Barbara', 'Santa Barbara')
    df['School'] = df['School'].replace('Southeastern Louisiana', 'SE Louisiana')
    df['School'] = df['School'].replace('Southeast Missouri St', 'SE Missouri St')
    df['School'] = df['School'].replace('Stephen F. Austin', 'SF Austin')
    df['School'] = df['School'].replace('Southern Methodist', 'SMU')
    df['School'] = df['School'].replace('Southern Mississippi', 'Southern Miss')
    df['School'] = df['School'].replace('Southern', 'Southern Univ')
    df['School'] = df['School'].replace('St. Bonaventure', 'St Bonaventure')
    df['School'] = df['School'].replace('St. Francis (NY)', 'St Francis NY')
    df['School'] = df['School'].replace('Saint Francis (PA)', 'St Francis PA')
    df['School'] = df['School'].replace('St. John\'s (NY)', 'St John\'s')
    df['School'] = df['School'].replace('Saint Joseph\'s', 'St Joseph\'s PA')
    df['School'] = df['School'].replace('Saint Louis', 'St Louis')
    df['School'] = df['School'].replace('Saint Mary\'s (CA)', 'St Mary\'s CA')
    df['School'] = df['School'].replace('Mount Saint Mary\'s', 'Mt St Mary\'s')
    df['School'] = df['School'].replace('Saint Peter\'s', 'St Peter\'s')
    df['School'] = df['School'].replace('Texas A&M-Corpus Christian', 'TAM C. Christian')
    df['School'] = df['School'].replace('Texas Christian', 'TCU')
    df['School'] = df['School'].replace('Tennessee-Martin', 'TN Martin')
    df['School'] = df['School'].replace('Texas-Rio Grande Valley', 'UTRGV')
    df['School'] = df['School'].replace('Texas Southern', 'TX Southern')
    df['School'] = df['School'].replace('Alabama-Birmingham', 'UAB')
    df['School'] = df['School'].replace('UC-Davis', 'UC Davis')
    df['School'] = df['School'].replace('UC-Irvine', 'UC Irvine')
    df['School'] = df['School'].replace('UC-Riverside', 'UC Riverside')
    df['School'] = df['School'].replace('Central Florida', 'UCF')
    df['School'] = df['School'].replace('Louisiana-Lafayette', 'ULL')
    df['School'] = df['School'].replace('Louisiana-Monroe', 'ULM')
    df['School'] = df['School'].replace('Maryland-Baltimore County', 'UMBC')
    df['School'] = df['School'].replace('North Carolina-Asheville', 'UNC Asheville')
    df['School'] = df['School'].replace('North Carolina-Greensboro', 'UNC Greensboro')
    df['School'] = df['School'].replace('North Carolina-Wilmington', 'UNC Wilmington')
    df['School'] = df['School'].replace('Nevada-Las Vegas', 'UNLV')
    df['School'] = df['School'].replace('Texas-Arlington', 'UT Arlington')
    df['School'] = df['School'].replace('Texas-San Antonio', 'UT San Antonio')
    df['School'] = df['School'].replace('Texas-El Paso', 'UTEP')
    df['School'] = df['School'].replace('Virginia Commonwealth', 'VA Commonwealth')
    df['School'] = df['School'].replace('Western Carolina', 'W Carolina')
    df['School'] = df['School'].replace('Western Illinois', 'W Illinois')
    df['School'] = df['School'].replace('Western Kentucky', 'WKU')
    df['School'] = df['School'].replace('Western Michigan', 'W Michigan')
    df['School'] = df['School'].replace('Abilene Christian', 'Abilene Chr')
    df['School'] = df['School'].replace('Montana State', 'Montana St')
    df['School'] = df['School'].replace('Central Arkansas', 'Cent Arkansas')
    df['School'] = df['School'].replace('Houston Baptist', 'Houston Bap')
    df['School'] = df['School'].replace('South Dakota St', 'S Dakota St')
    df['School'] = df['School'].replace('Maryland-Eastern Shore', 'MD E Shore')
    return df

In [86]:
#list of power six conferences
PowerSix = ['sec', 'acc', 'big_east', 'pac_12', 'pac_10', 'big_10', 'big_12']

In [87]:
def checkPower6(team_name, year):
    team_id = getTeamID(team_name)
    year_conference_pd = TeamConferences_pd[TeamConferences_pd['Season'] == int(year)]
    conference = year_conference_pd[year_conference_pd['TeamID'] == team_id].values[0][2]
    if conference in PowerSix:
        return 1
    else:
        return 0

In [88]:
def getNumWins(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    sr_pd = pd.read_csv(os.path.join(sr_dir, season + "_basic.csv"), skiprows=1)
    sr_pd = handleSrCsvs(sr_pd)
    if len(sr_pd.loc[sr_pd["School"] == team_name].index) == 0:
        return "missing"
    return sr_pd.loc[sr_pd["School"] == team_name].values[0][3]
getNumWins("Air Force", "2002")

9

In [89]:
def getWinPercentage(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    sr_pd = pd.read_csv(os.path.join(sr_dir, season + "_basic.csv"), skiprows=1)
    sr_pd = handleSrCsvs(sr_pd)
    if len(sr_pd.loc[sr_pd["School"] == team_name].index) == 0:
        return "missing"
    return sr_pd.loc[sr_pd["School"] == team_name].values[0][5]
getWinPercentage("Air Force", "2002")

0.321

In [90]:
def getPpg(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    sr_pd = pd.read_csv(os.path.join(sr_dir, season + "_basic.csv"), skiprows=1)
    sr_pd = handleSrCsvs(sr_pd)
    if len(sr_pd.loc[sr_pd["School"] == team_name].index) == 0:
        return "missing"
    return sr_pd.loc[sr_pd["School"] == team_name].values[0][14] / sr_pd.loc[sr_pd["School"] == team_name].values[0][2]
getPpg("Air Force", "2002")

57.32142857142857

In [91]:
def getAdjTempo(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    kenpom_pd = pd.read_csv(os.path.join(kenpom_dir, "summaries", "summary" + season[2:] + ".csv"))
    kenpom_pd = handleKemponCsvs(kenpom_pd)
    if len(kenpom_pd.loc[kenpom_pd["TeamName"] == team_name].index) == 0:
        return "missing"
    return kenpom_pd.loc[kenpom_pd["TeamName"] == team_name].values[0][4]
getAdjTempo("Air Force", "2002")

54.1733

In [92]:
def getTurnoverRate(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    sr_pd = pd.read_csv(os.path.join(sr_dir, season + "_adv.csv"), skiprows=1)
    sr_pd = handleSrCsvs(sr_pd)
    if len(sr_pd.loc[sr_pd["School"] == team_name].index) == 0:
        return "missing"
    return sr_pd.loc[sr_pd["School"] == team_name].values[0][27] / 100
getTurnoverRate("Air Force", "2002")

0.221

In [93]:
def getEfg(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    sr_pd = pd.read_csv(os.path.join(sr_dir, season + "_adv.csv"), skiprows=1)
    sr_pd = handleSrCsvs(sr_pd)
    if len(sr_pd.loc[sr_pd["School"] == team_name].index) == 0:
        return "missing"
    return sr_pd.loc[sr_pd["School"] == team_name].values[0][26]
getEfg("Air Force",  "2002")

0.5529999999999999

In [94]:
def getFtm(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    sr_pd = pd.read_csv(os.path.join(sr_dir, season + "_basic.csv"), skiprows=1)
    sr_pd = handleSrCsvs(sr_pd)
    if len(sr_pd.loc[sr_pd["School"] == team_name].index) == 0:
        return "missing"
    return sr_pd.loc[sr_pd["School"] == team_name].values[0][24]
getFtm("Air Force", "2002")

331

In [95]:
def getFtPercent(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    sr_pd = pd.read_csv(os.path.join(sr_dir, season + "_basic.csv"), skiprows=1)
    sr_pd = handleSrCsvs(sr_pd)
    if len(sr_pd.loc[sr_pd["School"] == team_name].index) == 0:
        return "missing"
    return sr_pd.loc[sr_pd["School"] == team_name].values[0][26]
getFtPercent("Air Force", "2002")

0.7120000000000001

In [96]:
def getStlPercentDef(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    kenpom_pd = pd.read_csv(os.path.join(kenpom_dir, "Misc_stats_def", "misc" + season[2:] + ".csv"))
    kenpom_pd = handleKemponCsvs(kenpom_pd)
    if len(kenpom_pd.loc[kenpom_pd["TeamName"] == team_name].index) == 0:
        return "missing"
    return kenpom_pd.loc[kenpom_pd["TeamName"] == team_name].values[0][26]
getStlPercentDef("Marshall", "2004")

0.0824

In [97]:
def getBlkPercentDef(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    kenpom_pd = pd.read_csv(os.path.join(kenpom_dir, "Misc_stats_def", "misc" + season[2:] + ".csv"))
    kenpom_pd = handleKemponCsvs(kenpom_pd)
    if len(kenpom_pd.loc[kenpom_pd["TeamName"] == team_name].index) == 0:
        return "missing"
    return kenpom_pd.loc[kenpom_pd["TeamName"] == team_name].values[0][8] / 100
getBlkPercentDef("Pittsburgh", "2002")

0.119175

In [98]:
def getFgPercent(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    sr_pd = pd.read_csv(os.path.join(sr_dir, season + "_basic.csv"), skiprows=1)
    sr_pd = handleSrCsvs(sr_pd)
    if len(sr_pd.loc[sr_pd["School"] == team_name].index) == 0:
        return "missing"
    return sr_pd.loc[sr_pd["School"] == team_name].values[0][20]
getFgPercent("Air Force", "2002")

0.46299999999999997

In [99]:
def get3pp(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    sr_pd = pd.read_csv(os.path.join(sr_dir, season + "_basic.csv"), skiprows=1)
    sr_pd = handleSrCsvs(sr_pd)
    if len(sr_pd.loc[sr_pd["School"] == team_name].index) == 0:
        return "missing"
    return sr_pd.loc[sr_pd["School"] == team_name].values[0][23]
get3pp("Air Force", "2002")

0.373

In [100]:
def get3pm(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
    sr_pd = pd.read_csv(os.path.join(sr_dir, season + "_basic.csv"), skiprows=1)
    sr_pd = handleSrCsvs(sr_pd)
    if len(sr_pd.loc[sr_pd["School"] == team_name].index) == 0:
        return "missing"
    return sr_pd.loc[sr_pd["School"] == team_name].values[0][21]
get3pm("Air Force", "2002")

208

### Create a dictionary of all the stat getters

In [101]:
stat_getters = {}
stat_getters[0] = checkPower6
stat_getters[1] = getNumWins
stat_getters[2] = getWinPercentage
stat_getters[3] = getPpg
stat_getters[4] = getAdjTempo
stat_getters[5] = getTurnoverRate
stat_getters[6] = getEfg
stat_getters[7] = getFtm
stat_getters[8] = getFtPercent
stat_getters[9] = getStlPercentDef
stat_getters[10] = getBlkPercentDef
stat_getters[11] = getFgPercent
stat_getters[12] = get3pp
stat_getters[13] = get3pm

## Additional Game data getters

In [102]:
def getLoc(row):
    if (row == 'H'):
        home = 1
    if (row == 'A'):
        home = -1
    if (row == 'N'):
        home = 0
    return home

# Getting the Season Vectors for each team and year :0

In [103]:
#creates the stat vector for a given team during a give season/year
def getSeasonVector(team_name, season):
    assert len(season) == 4, "Season format must be the ending year, and a string; eg: 2002"
    
#     # The data frame below holds stats for every single game in the given season
#     season_data = reg_season_compact_pd[reg_season_compact_pd['Season'] == year]
#     print(season_data.head())
#     #number of games in the season
#     num_games = len(season_data.index)
    
    team_vector = []
    for i in range(num_team_stats):
        team_vector.append(stat_getters.get(i)(team_name, season))
    return np.array(team_vector)
getSeasonVector("Air Force", "2002")

array([0.00000000e+00, 9.00000000e+00, 3.21000000e-01, 5.73214286e+01,
       5.41733000e+01, 2.21000000e-01, 5.53000000e-01, 3.31000000e+02,
       7.12000000e-01, 1.41200000e-01, 6.82870000e-02, 4.63000000e-01,
       3.73000000e-01, 2.08000000e+02])

# Make a dictionary of every team and the respective season vector

In [104]:
def createSeasonDict(season):
    seasonDict = collections.defaultdict(list)
    for team in teams_list:
        team_vector = getSeasonVector(team, season)
        
        #if any of the entries in the vector equals 0, then the team name wasn't present in one of the data files
        if not any(map(lambda x: x == "missing", team_vector)):
            seasonDict[team] = team_vector
        else:
            print(team)
            print(team_vector)
    return seasonDict

In [105]:
def createTrainingSet(years):
    #calculating the dimensions of the training sets
    totalNumGames = 0
    for year in years:
        reg_season = reg_season_compact_pd[reg_season_compact_pd['Season'] == year]
        NCAA_tourney = NCAA_tourney_compact_pd[NCAA_tourney_compact_pd['Season'] == year]
        secondary_tourney = secondary_tourney_compact_pd[secondary_tourney_compact_pd['Season'] == year]
        conference_tourney = conference_tourney_compact_pd[conference_tourney_compact_pd['Season'] == year]
        totalNumGames += (len(reg_season.index) + len(conference_tourney.index) + len(NCAA_tourney.index) + len(secondary_tourney.index))
        
    StatsLength = len(getSeasonData(1101, 2012))
    xTrain = np.zeros((totalNumGames, statsLength + 1))
    yTrain = np.zeros((totalNumGames))
    seasonCounter = 0
    
    #create a training set for each season to put into the x and y Train
    for year in years:
        #get the team vectors for the year in iteration
        team_vectors = createSeasonDict(year)
        
        #get all of the games for the year in iteration
        reg_season = reg_season_compact_pd[reg_season_compact_pd['Season'] == year]
        NCAA_tourney = NCAA_tourney_compact_pd[NCAA_tourney_compact_pd['Season'] == year]
        secondary_tourney = secondary_tourney_compact_pd[secondary_tourney_compact_pd['Season'] == year]
        conference_tourney = conference_tourney_compact_pd[conference_tourney_compact_pd['Season'] == year]
        
        games_in_season = len(reg_season.index) + len(NCAA_tourney.index) + len(secondary_tourney.index) + len(conference_tourney.index)
        xTrainSeason = np.zeros((games_in_season, StatsLength + 1))
        yTrainSeason = np.zeros((games_in_season))
        counter = 0
        
        #add each game to the training vectors from the regular season
        for index, row in reg_season.iterrows():
            #determine the difference vector for each game
            w_team = row['WteamID']
            w_vector = team_vectors[w_team]
            l_team = row['LteamID']
            l_vector = team_vectors[l_team]
            diff_vector = [a - b for a, b in zip(w_vector, l_vector)]
            home = getLoc(row['Wloc'])
            diff_vector.append(home)
            #flip every odd numbered game
            if (counter % 2 == 0):
                xTrainSeason[counter] = diff_vector
                yTrainSeason[counter] = 1
            else:
                xTrainSeason[counter] = [-x for x in diff_vector]
                yTrainSeason[counter] = 0
            counter += 1
            
        #add each game to the training vector from the NCAA tourney    
        for index, row in NCAA_tourney.iterrrows():
            #determine the diff vector for each game
            w_team = row['WteamID']
            w_vector = team_vectors[w_team]
            l_team = row['LteamID']
            l_vector = team_vectors[l_team]
            diff_vector = [a - b for a, b in zip(w_vector, l_vector)]
            home = 0
            #flip every odd numbered game
            if (counter % 2 == 0):
                xTrainSeason[counter] = diff_vector
                yTrainSeason[counter] = 1
            else:
                xTrainSeason[counter] = [-x for x in diff_vector]
                yTrainSeason[counter] = 0
            counter += 1
        
        #add each game to the training vector from the conference tourney
        for index, row in conference_tourney.iterrows():
            w_team = row['WteamID']
            w_vector = team_vectors[w_team]
            l_team = row['LteamID']
            l_vector = team_vectors[l_team]
            diff_vector = [a - b for a, b in zip(w_vector, l_vector)]
            home = 0
            #flip every odd numbered game
            if (counter % 2 == 0):
                xTrainSeason[counter] = diff_vector
                yTrainSeason[counter] = 1
            else:
                xTrainSeason[counter] = [-x for x in diff_vector]
                yTrainSeason[counter] = 0
            counter += 1
            
        #add each game to the training vector from the secondary tourneys
        for index, row in secondary_tourney.iterrows():
            #determine the difference vector for each game
            w_team = row['WteamID']
            w_vector = team_vectors[w_team]
            l_team = row['LteamID']
            l_vector = team_vectors[l_team]
            diff_vector = [a - b for a, b in zip(w_vector, l_vector)]
            home = getLoc(row['Wloc'])
            diff_vector.append(home)
            #flip every odd numbered game
            if (counter % 2 == 0):
                xTrainSeason[counter] = diff_vector
                yTrainSeason[counter] = 1
            else:
                xTrainSeason[counter] = [-x for x in diff_vector]
                yTrainSeason[counter] = 0
            counter += 1
            
        xTrain[indexCounter:numGamesInSeason+indexCounter] = xTrainSeason
        yTrain[indexCounter:numGamesInSeason+indexCounter] = yTrainSeason
        indexCounter += numGamesInSeason
    return xTrain, yTrain

In [419]:
createSeasonDict("2002")

Abilene Chr
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Alabama
['1' 'missing' 'missing' 'missing' '68.0142' 'missing' 'missing' 'missing'
 'missing' '0.1053' '0.080468' 'missing' 'missing' 'missing']
Alcorn St
['0' 'missing' 'missing' 'missing' '72.9539' 'missing' 'missing' 'missing'
 'missing' '0.10800000000000001' '0.09434' 'missing' 'missing' 'missing']
Alliant Intl
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Arizona
['1' 'missing' 'missing' 'missing' '71.1331' 'missing' 'missing' 'missing'
 'missing' '0.0835' '0.072512' 'missing' 'missing' 'missing']
Ark Little Rock
['0' 'missing' 'missing' 'missing' '69.1203' 'missing' 'missing' 'missing'
 'missing' '0.1304' '0.060389' 'missing' 'missing' 'missing']
Armstrong St
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Augusta
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Birmingham So
['0' 'missing' 'missing' 'missing' '62.3892' 'missing' 'missing' 'missing'
 'missing' '0.0954' '0.10447800000000002' 'missing' 'missing' 'missing']
Boston College
['1' 'missing' 'missing' 'missing' '69.1066' 'missing' 'missing' 'missing'
 'missing' '0.1139' '0.081839' 'missing' 'missing' 'missing']
Boston Univ
['0' 'missing' 'missing' 'missing' '64.5112' 'missing' 'missing' 'missing'
 'missing' '0.0913' '0.07799400000000001' 'missing' 'missing' 'missing']
Brooklyn
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Bryant
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
California
['1' 'missing' 'missing' 'missing' '66.6445' 'missing' 'missing' 'missing'
 'missing' '0.1143' '0.11989100000000001' 'missing' 'missing' 'missing']
Cent Arkansas
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Central Conn
['0' 'missing' 'missing' 'missing' '64.0156' 'missing' 'missing' 'missing'
 'missing' '0.0989' '0.082665' 'missing' 'missing' 'missing']
Charlotte
['0' 'missing' 'missing' 'missing' '66.8471' 'missing' 'missing' 'missing'
 'missing' '0.0987' '0.06159099999999999' 'missing' 'missing' 'missing']
Cincinnati
['0' 'missing' 'missing' 'missing' '67.4317' 'missing' 'missing' 'missing'
 'missing' '0.069' '0.102265' 'missing' 'missing' 'missing']
Citadel
['0' '17' '0.586' '72.93103448275862' 'missing' '0.179'
 '0.47700000000000004' '519' '0.71' 'missing' 'missing' '0.415' '0.34'
 '208']
Connecticut
['0' 'missing' 'missing' 'missing' '68.6998' 'missing' 'missing' 'missing'
 'missing' '0.1035' '0.156499' 'missing' 'missing' 'missing']
Creighton
['1' 'missing' 'missing' 'missing' '66.8599' 'missing' 'missing' 'missing'
 'missing' '0.1174' '0.106112' 'missing' 'missing' 'missing']
CS Bakersfield
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
CS Fullerton
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
CS Northridge
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
CS Sacramento
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Davidson
['0' 'missing' 'missing' 'missing' '65.1311' 'missing' 'missing' 'missing'
 'missing' '0.0898' '0.09115500000000001' 'missing' 'missing' 'missing']
Duke
['1' 'missing' 'missing' 'missing' '74.4638' 'missing' 'missing' 'missing'
 'missing' '0.1297' '0.07225100000000001' 'missing' 'missing' 'missing']
Edwardsville
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
ETSU
['0' '18' '0.643' '81.46428571428571' 'missing' '0.184' '0.498' '498'
 '0.7040000000000001' 'missing' 'missing' '0.45899999999999996' '0.316'
 '139']
FL Atlantic
['0' 'missing' 'missing' 'missing' '70.2233' 'missing' 'missing' 'missing'
 'missing' '0.1282' '0.08187099999999999' 'missing' 'missing' 'missing']
FL Gulf Coast
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Florida
['1' 'missing' 'missing' 'missing' '69.5955' 'missing' 'missing' 'missing'
 'missing' '0.1361' '0.12' 'missing' 'missing' 'missing']
Florida Intl
['0' '10' '0.33299999999999996' '63.6' 'missing' '0.196' '0.47' '321'
 '0.609' 'missing' 'missing' '0.43700000000000006' '0.307' '111']
Gardner Webb
['0' 'missing' 'missing' 'missing' '73.5577' 'missing' 'missing' 'missing'
 'missing' '0.1038' '0.07531399999999999' 'missing' 'missing' 'missing']
Georgia
['1' 'missing' 'missing' 'missing' '69.1755' 'missing' 'missing' 'missing'
 'missing' '0.1259' '0.094293' 'missing' 'missing' 'missing']
Gonzaga
['0' 'missing' 'missing' 'missing' '68.4561' 'missing' 'missing' 'missing'
 'missing' '0.0804' '0.087981' 'missing' 'missing' 'missing']
Grambling
['0' '9' '0.321' '78.14285714285714' 'missing' '0.185' '0.485' '399'
 '0.6729999999999999' 'missing' 'missing' '0.442' '0.34700000000000003'
 '159']
Grand Canyon
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Hampton
['0' 'missing' 'missing' 'missing' '69.1197' 'missing' 'missing' 'missing'
 'missing' '0.1131' '0.088716' 'missing' 'missing' 'missing']
Hardin-Simmons
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Hawaii
['0' 'missing' 'missing' 'missing' '65.6065' 'missing' 'missing' 'missing'
 'missing' '0.1046' '0.091203' 'missing' 'missing' 'missing']
Holy Cross
['0' 'missing' 'missing' 'missing' '62.1566' 'missing' 'missing' 'missing'
 'missing' '0.1217' '0.093551' 'missing' 'missing' 'missing']
Houston Bap
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
IL Chicago
['0' 'missing' 'missing' 'missing' '67.4807' 'missing' 'missing' 'missing'
 'missing' '0.0805' '0.035893' 'missing' 'missing' 'missing']
Illinois
['1' 'missing' 'missing' 'missing' '68.4677' 'missing' 'missing' 'missing'
 'missing' '0.1049' '0.111111' 'missing' 'missing' 'missing']
Incarnate Word
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Indiana
['1' 'missing' 'missing' 'missing' '65.5825' 'missing' 'missing' 'missing'
 'missing' '0.1045' '0.125086' 'missing' 'missing' 'missing']
IPFW
['0' 'missing' 'missing' 'missing' '74.1207' 'missing' 'missing' 'missing'
 'missing' '0.10400000000000001' '0.044617000000000004' 'missing'
 'missing' 'missing']
Kansas
['1' 'missing' 'missing' 'missing' '77.2849' 'missing' 'missing' 'missing'
 'missing' '0.1159' '0.12244899999999999' 'missing' 'missing' 'missing']
Kennesaw
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Kent
['0' 'missing' 'missing' 'missing' '64.7122' 'missing' 'missing' 'missing'
 'missing' '0.0974' '0.054848999999999995' 'missing' 'missing' 'missing']
Kentucky
['1' 'missing' 'missing' 'missing' '68.0467' 'missing' 'missing' 'missing'
 'missing' '0.1055' '0.12334400000000001' 'missing' 'missing' 'missing']
Lipscomb
['0' 'missing' 'missing' 'missing' '69.1615' 'missing' 'missing' 'missing'
 'missing' '0.0909' '0.06909799999999999' 'missing' 'missing' 'missing']
Long Island
['0' '5' '0.185' '76.11111111111111' 'missing' '0.17' '0.48' '361' '0.684'
 'missing' 'missing' '0.433' '0.304' '168']
Longwood
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']

MA Lowell
['0' '13' '0.44799999999999995' '64.3103448275862' 'missing' '0.188'
 '0.48' '307' '0.669' 'missing' 'missing' '0.41700000000000004' '0.348'
 '204']
Marquette
['1' 'missing' 'missing' 'missing' '64.6162' 'missing' 'missing' 'missing'
 'missing' '0.1259' '0.100983' 'missing' 'missing' 'missing']
Maryland
['1' 'missing' 'missing' 'missing' '73.6587' 'missing' 'missing' 'missing'
 'missing' '0.1118' '0.136106' 'missing' 'missing' 'missing']
Massachusetts
['0' 'missing' 'missing' 'missing' '64.266' 'missing' 'missing' 'missing'
 'missing' '0.0889' '0.103182' 'missing' 'missing' 'missing']
McNeese St
['0' 'missing' 'missing' 'missing' '66.2135' 'missing' 'missing' 'missing'
 'missing' '0.1218' '0.133097' 'missing' 'missing' 'missing']
MD E Shore
['0' 'missing' 'missing' 'missing' '64.3362' 'missing' 'missing' 'missing'
 'missing' '0.0895' '0.055889999999999995' 'missing' 'missing' 'missing']
Miami FL
['0' 'missing' 'missing' 'missing' '69.0973' 'missing' 'missing' 'missing'
 'missing' '0.1241' '0.15676600000000002' 'missing' 'missing' 'missing']
Michigan St
['1' 'missing' 'missing' 'missing' '63.3324' 'missing' 'missing' 'missing'
 'missing' '0.0776' '0.089337' 'missing' 'missing' 'missing']
Mississippi
['0' 'missing' 'missing' 'missing' '64.6986' 'missing' 'missing' 'missing'
 'missing' '0.1075' '0.051818' 'missing' 'missing' 'missing']
Mississippi St
['1' 'missing' 'missing' 'missing' '67.9291' 'missing' 'missing' 'missing'
 'missing' '0.1191' '0.090375' 'missing' 'missing' 'missing']
Missouri
['1' 'missing' 'missing' 'missing' '70.0766' 'missing' 'missing' 'missing'
 'missing' '0.1029' '0.097222' 'missing' 'missing' 'missing']
Missouri KC
['0' '18' '0.621' '63.86206896551724' 'missing' '0.147' '0.465' '361'
 '0.76' 'missing' 'missing' '0.408' '0.33899999999999997' '185']
Missouri St
['0' '17' '0.531' '70.84375' 'missing' '0.17800000000000002' '0.505' '490'
 '0.753' 'missing' 'missing' '0.44799999999999995' '0.406' '201']
Monmouth NJ
['0' '18' '0.6' '68.4' 'missing' '0.204' '0.521' '379' '0.649' 'missing'
 'missing' '0.465' '0.32299999999999995' '181']
Montana
['0' 'missing' 'missing' 'missing' '68.4554' 'missing' 'missing' 'missing'
 'missing' '0.0755' '0.09935000000000001' 'missing' 'missing' 'missing']
Montana St
['0' 'missing' 'missing' 'missing' '63.4877' 'missing' 'missing' 'missing'
 'missing' '0.09' '0.054002' 'missing' 'missing' 'missing']
Mt St Mary's
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
MTSU
['0' '20' '0.667' '69.43333333333334' 'missing' '0.187' '0.539' '444'
 '0.7090000000000001' 'missing' 'missing' '0.467' '0.371' '219']
Murray St
['0' 'missing' 'missing' 'missing' '69.1718' 'missing' 'missing' 'missing'
 'missing' '0.1051' '0.125' 'missing' 'missing' 'missing']
N Colorado
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
N Dakota St
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
N Kentucky
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
NC Central
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
NC State
['1' 'missing' 'missing' 'missing' '67.4725' 'missing' 'missing' 'missing'
 'missing' '0.1136' '0.056648' 'missing' 'missing' 'missing']
NE Illinois
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
NE Omaha
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
NJIT
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
North Dakota
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
North Florida
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Northwestern LA
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Notre Dame
['1' 'missing' 'missing' 'missing' '68.5845' 'missing' 'missing' 'missing'
 'missing' '0.1099' '0.10914199999999999' 'missing' 'missing' 'missing']
Ohio St
['1' 'missing' 'missing' 'missing' '66.7904' 'missing' 'missing' 'missing'
 'missing' '0.0904' '0.06830599999999999' 'missing' 'missing' 'missing']
Okla City
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Oklahoma
['1' 'missing' 'missing' 'missing' '66.4591' 'missing' 'missing' 'missing'
 'missing' '0.1293' '0.096264' 'missing' 'missing' 'missing']
Oklahoma St
['1' 'missing' 'missing' 'missing' '66.0006' 'missing' 'missing' 'missing'
 'missing' '0.1124' '0.08641' 'missing' 'missing' 'missing']
Oregon
['1' 'missing' 'missing' 'missing' '71.07600000000001' 'missing' 'missing'
 'missing' 'missing' '0.099' '0.070243' 'missing' 'missing' 'missing']
Penn
['0' 'missing' 'missing' 'missing' '65.6105' 'missing' 'missing' 'missing'
 'missing' '0.0979' '0.092308' 'missing' 'missing' 'missing']
Pepperdine
['0' 'missing' 'missing' 'missing' '72.3625' 'missing' 'missing' 'missing'
 'missing' '0.0933' '0.12603' 'missing' 'missing' 'missing']
Pittsburgh
['1' 'missing' 'missing' 'missing' '63.7554' 'missing' 'missing' 'missing'
 'missing' '0.0991' '0.119175' 'missing' 'missing' 'missing']
Presbyterian
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
S Dakota St
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
S Illinois
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
San Diego St
['0' 'missing' 'missing' 'missing' '69.9627' 'missing' 'missing' 'missing'
 'missing' '0.094' '0.09646300000000001' 'missing' 'missing' 'missing']
Santa Barbara
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Savannah St
['0' 'missing' 'missing' 'missing' '66.3709' 'missing' 'missing' 'missing'
 'missing' '0.0951' '0.070736' 'missing' 'missing' 'missing']
SC Upstate
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Seattle
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
SF Austin
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Siena
['0' 'missing' 'missing' 'missing' '66.5488' 'missing' 'missing' 'missing'
 'missing' '0.0778' '0.113308' 'missing' 'missing' 'missing']
South Dakota
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Southern Univ
['0' '7' '0.259' '73.88888888888889' 'missing' '0.17600000000000002'
 '0.474' '293' '0.617' 'missing' 'missing' '0.41' '0.32799999999999996'
 '230']
St Francis NY
['0' 'missing' 'missing' 'missing' '73.6126' 'missing' 'missing' 'missing'
 'missing' '0.1248' '0.07978299999999999' 'missing' 'missing' 'missing']
St John's
['1' 'missing' 'missing' 'missing' '69.1465' 'missing' 'missing' 'missing'
 'missing' '0.1393' '0.09740299999999999' 'missing' 'missing' 'missing']
St Joseph's PA
['0' '19' '0.613' '76.16129032258064' 'missing' '0.152' '0.526' '436'
 '0.6890000000000001' 'missing' 'missing' '0.45899999999999996' '0.354'
 '243']
St Louis
['0' '15' '0.484' '63.064516129032256' 'missing' '0.19899999999999998'
 '0.47600000000000003' '384' '0.677' 'missing' 'missing' '0.425'
 '0.35700000000000004' '169']

St Mary's CA
['0' '9' '0.31' '61.03448275862069' 'missing' '0.207'
 '0.43799999999999994' '417' '0.677' 'missing' 'missing'
 '0.39899999999999997' '0.275' '121']
St Peter's
['0' '4' '0.14300000000000002' '65.14285714285714' 'missing' '0.22'
 '0.457' '352' '0.623' 'missing' 'missing' '0.419' '0.31' '120']
Stanford
['1' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Stetson
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Stony Brook
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
TAM C. Christi
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Texas
['1' 'missing' 'missing' 'missing' '68.5302' 'missing' 'missing' 'missing'
 'missing' '0.0869' '0.095342' 'missing' 'missing' 'missing']
Texas St
['0' '12' '0.429' '74.60714285714286' 'missing' '0.21100000000000002'
 '0.516' '460' '0.669' 'missing' 'missing' '0.447' '0.397' '215']
Texas Tech
['1' 'missing' 'missing' 'missing' '69.80199999999999' 'missing' 'missing'
 'missing' 'missing' '0.1041' '0.088332' 'missing' 'missing' 'missing']
Tulsa
['0' 'missing' 'missing' 'missing' '69.4634' 'missing' 'missing' 'missing'
 'missing' '0.1094' '0.11217700000000001' 'missing' 'missing' 'missing']
UTRGV
['0' '20' '0.667' '79.63333333333334' 'missing' '0.19899999999999998'
 '0.536' '484' '0.688' 'missing' 'missing' '0.47700000000000004' '0.368'
 '211']
UC Davis
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
UCLA
['1' 'missing' 'missing' 'missing' '68.0616' 'missing' 'missing' 'missing'
 'missing' '0.0784' '0.081152' 'missing' 'missing' 'missing']
ULL
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
ULM
['0' '20' '0.625' '71.0625' 'missing' '0.183' '0.483' '422' '0.65'
 'missing' 'missing' '0.436' '0.33299999999999996' '182']
UNC Wilmington
['0' 'missing' 'missing' 'missing' '63.9089' 'missing' 'missing' 'missing'
 'missing' '0.128' '0.090513' 'missing' 'missing' 'missing']
USC
['1' 'missing' 'missing' 'missing' '70.0806' 'missing' 'missing' 'missing'
 'missing' '0.1236' '0.11228099999999999' 'missing' 'missing' 'missing']
UT San Antonio
['0' '19' '0.655' '76.86206896551724' 'missing' '0.16399999999999998'
 '0.474' '570' '0.643' 'missing' 'missing' '0.419' '0.325' '191']
Utah
['1' 'missing' 'missing' 'missing' '62.114' 'missing' 'missing' 'missing'
 'missing' '0.0922' '0.073961' 'missing' 'missing' 'missing']
Utah Valley
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Utica
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
VA Commonwealth
['0' '21' '0.6559999999999999' '72.6875' 'missing' '0.18' '0.485' '493'
 '0.672' 'missing' 'missing' '0.429' '0.33799999999999997' '211']
Valparaiso
['0' 'missing' 'missing' 'missing' '68.6821' 'missing' 'missing' 'missing'
 'missing' '0.1415' '0.10740999999999999' 'missing' 'missing' 'missing']
WKU
['0' 'missing' 'missing' 'missing' '67.4751' 'missing' 'missing' 'missing'
 'missing' '0.0995' '0.083048' 'missing' 'missing' 'missing']
W Salem St
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
W Texas A&M
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Wake Forest
['1' 'missing' 'missing' 'missing' '69.4891' 'missing' 'missing' 'missing'
 'missing' '0.0879' '0.09949899999999999' 'missing' 'missing' 'missing']
WI Green Bay
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
WI Milwaukee
['0' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing' 'missing'
 'missing' 'missing' 'missing' 'missing' 'missing' 'missing']
Winthrop
['0' 'missing' 'missing' 'missing' '65.8932' 'missing' 'missing' 'missing'
 'missing' '0.1108' '0.116301' 'missing' 'missing' 'missing']
Wisconsin
['1' 'missing' 'missing' 'missing' '63.308' 'missing' 'missing' 'missing'
 'missing' '0.0912' '0.051925' 'missing' 'missing' 'missing']
Wyoming
['0' 'missing' 'missing' 'missing' '68.9798' 'missing' 'missing' 'missing'
 'missing' '0.096' '0.10435499999999999' 'missing' 'missing' 'missing']
Xavier
['1' 'missing' 'missing' 'missing' '67.0465' 'missing' 'missing' 'missing'
 'missing' '0.0986' '0.106557' 'missing' 'missing' 'missing']

defaultdict(list,
            {'Air Force': array([0.00000000e+00, 9.00000000e+00, 3.21000000e-01, 5.73214286e+01,
                    5.41733000e+01, 2.21000000e-01, 5.53000000e-01, 3.31000000e+02,
                    7.12000000e-01, 1.41200000e-01, 6.82870000e-02, 4.63000000e-01,
                    3.73000000e-01, 2.08000000e+02]),
             'Akron': array([0.0000000e+00, 1.0000000e+01, 3.2300000e-01, 6.9483871e+01,
                    6.5639400e+01, 1.8900000e-01, 5.0600000e-01, 5.5400000e+02,
                    7.5800000e-01, 8.6800000e-02, 6.9726000e-02, 4.4800000e-01,
                    3.7100000e-01, 1.8200000e+02]),
             'Alabama A&M': array([0.00000000e+00, 1.90000000e+01, 6.55000000e-01, 7.99310345e+01,
                    7.89833000e+01, 1.77000000e-01, 4.58000000e-01, 4.78000000e+02,
                    6.72000000e-01, 1.66500000e-01, 9.46690000e-02, 4.05000000e-01,
                    3.11000000e-01, 2.12000000e+02]),
             'Alabama St': array([0.000000e+00, 1.900000e+01, 5.940000e-01, 6.546875e+01,
                    6.305070e+01, 2.090000e-01, 4.790000e-01, 4.830000e+02,
                    6.400000e-01, 9.850000e-02, 5.772200e-02, 4.250000e-01,
                    3.410000e-01, 1.820000e+02]),
             'Albany NY': array([0.00000000e+00, 8.00000000e+00, 2.86000000e-01, 5.68928571e+01,
                    6.26685000e+01, 1.92000000e-01, 4.39000000e-01, 2.42000000e+02,
                    6.70000000e-01, 1.08800000e-01, 9.22220000e-02, 3.86000000e-01,
                    3.28000000e-01, 1.63000000e+02]),
             'American Univ': array([0.00000e+00, 1.80000e+01, 6.00000e-01, 6.59000e+01, 6.29148e+01,
                    2.14000e-01, 5.23000e-01, 4.02000e+02, 7.26000e-01, 1.00500e-01,
                    7.42480e-02, 4.51000e-01, 3.56000e-01, 2.15000e+02]),
             'Appalachian St': array([0.00000000e+00, 1.00000000e+01, 3.57000000e-01, 7.64285714e+01,
                    7.26338000e+01, 1.91000000e-01, 4.88000000e-01, 4.80000000e+02,
                    6.83000000e-01, 1.07700000e-01, 5.91300000e-02, 4.38000000e-01,
                    3.53000000e-01, 1.70000000e+02]),
             'Arizona St': array([1.0000000e+00, 1.4000000e+01, 4.8300000e-01, 7.6862069e+01,
                    7.1736300e+01, 1.7100000e-01, 4.9600000e-01, 4.6100000e+02,
                    6.5600000e-01, 9.7800000e-02, 7.4830000e-02, 4.5500000e-01,
                    3.3400000e-01, 1.4400000e+02]),
             'Ark Pine Bluff': array([0.00000000e+00, 2.00000000e+00, 7.10000000e-02, 6.61428571e+01,
                    7.54999000e+01, 2.03000000e-01, 4.02000000e-01, 4.15000000e+02,
                    6.61000000e-01, 1.41600000e-01, 5.44160000e-02, 3.62000000e-01,
                    2.70000000e-01, 1.43000000e+02]),
             'Arkansas': array([1.0000000e+00, 1.4000000e+01, 4.8300000e-01, 7.4862069e+01,
                    7.1889800e+01, 1.6700000e-01, 5.0100000e-01, 3.8900000e+02,
                    6.5100000e-01, 1.4280000e-01, 9.9902000e-02, 4.3600000e-01,
                    3.3400000e-01, 2.3200000e+02]),
             'Arkansas St': array([0.00000000e+00, 1.50000000e+01, 4.84000000e-01, 7.28709677e+01,
                    6.41728000e+01, 1.81000000e-01, 5.07000000e-01, 4.17000000e+02,
                    7.25000000e-01, 9.92000000e-02, 1.34996000e-01, 4.55000000e-01,
                    3.52000000e-01, 1.90000000e+02]),
             'Army': array([0.00000000e+00, 1.20000000e+01, 4.29000000e-01, 6.68214286e+01,
                    6.79769000e+01, 1.86000000e-01, 4.76000000e-01, 4.26000000e+02,
                    7.15000000e-01, 7.90000000e-02, 7.30500000e-02, 4.28000000e-01,
                    3.41000000e-01, 1.45000000e+02]),
             'Auburn': array([1.00000000e+00, 1.20000000e+01, 4.29000000e-01, 6.55357143e+01,
                    7.00733000e+01, 2.13000000e-01, 4.70000000e-01, 3.54000000e+02,
                    5.93000000e-01, 1.14800000e-01, 1.34342000e-01, 4.18000000e-01,
                    3.15000000e-01, 1.63000000e+02]),
             'Austin Peay': array([0.000000e+00, 1.400000e+01, 4.380000e-01, 7.046875e+01,
                    6.729780e+01, 1.810000e-01, 5.060000e-01, 4.490000e+02,
                    6.400000e-01, 9.740000e-02, 1.064770e-01, 4.500000e-01,
                    3.310000e-01, 2.000000e+02]),
             'Ball St': array([0.00000000e+00, 2.30000000e+01, 6.57000000e-01, 7.80285714e+01,
                    6.90879000e+01, 1.55000000e-01, 5.25000000e-01, 5.67000000e+02,
                    7.54000000e-01, 8.82000000e-02, 9.23690000e-02, 4.50000000e-01,
                    3.80000000e-01, 3.10000000e+02]),
             'Baylor': array([1.00000000e+00, 1.40000000e+01, 4.67000000e-01, 7.65333333e+01,
                    6.83320000e+01, 1.69000000e-01, 5.14000000e-01, 4.23000000e+02,
                    7.18000000e-01, 1.25100000e-01, 8.31930000e-02, 4.39000000e-01,
                    3.66000000e-01, 2.73000000e+02]),
             'Belmont': array([0.00000000e+00, 1.10000000e+01, 3.93000000e-01, 7.21428571e+01,
                    6.51859000e+01, 2.11000000e-01, 5.59000000e-01, 3.60000000e+02,
                    7.55000000e-01, 9.13000000e-02, 3.57140000e-02, 4.70000000e-01,
                    3.71000000e-01, 2.64000000e+02]),
             'Bethune-Cookman': array([0.00000000e+00, 1.20000000e+01, 4.14000000e-01, 6.83793103e+01,
                    6.92834000e+01, 2.09000000e-01, 4.76000000e-01, 4.90000000e+02,
                    6.89000000e-01, 1.00800000e-01, 5.76610000e-02, 4.29000000e-01,
                    3.46000000e-01, 1.49000000e+02]),
             'Binghamton': array([0.00000000e+00, 9.00000000e+00, 3.21000000e-01, 6.46785714e+01,
                    6.72051000e+01, 1.98000000e-01, 4.68000000e-01, 3.75000000e+02,
                    7.09000000e-01, 9.21000000e-02, 1.17261000e-01, 4.05000000e-01,
                    3.41000000e-01, 1.94000000e+02]),
             'Boise St': array([0.00000000e+00, 1.30000000e+01, 4.33000000e-01, 6.25666667e+01,
                    6.51618000e+01, 1.85000000e-01, 4.64000000e-01, 3.63000000e+02,
                    6.94000000e-01, 9.09000000e-02, 8.49950000e-02, 4.14000000e-01,
                    3.09000000e-01, 1.64000000e+02]),
             'Bowling Green': array([0.00000000e+00, 2.40000000e+01, 7.27000000e-01, 7.46666667e+01,
                    6.66162000e+01, 1.81000000e-01, 5.47000000e-01, 5.93000000e+02,
                    7.50000000e-01, 8.87000000e-02, 7.62410000e-02, 4.88000000e-01,
                    3.90000000e-01, 2.03000000e+02]),
             'Bradley': array([0.00000000e+00, 9.00000000e+00, 3.10000000e-01, 6.06551724e+01,
                    6.33274000e+01, 1.87000000e-01, 4.34000000e-01, 4.51000000e+02,
                    7.16000000e-01, 9.32000000e-02, 1.00304000e-01, 3.89000000e-01,
                    3.11000000e-01, 1.34000000e+02]),
             'Brown': array([0.00000000e+00, 1.70000000e+01, 6.30000000e-01, 7.74074074e+01,
                    7.27337000e+01, 1.70000000e-01, 5.09000000e-01, 4.94000000e+02,
                    7.53000000e-01, 1.24600000e-01, 7.20630000e-02, 4.57000000e-01,
                    3.72000000e-01, 1.64000000e+02]),
             'Bucknell': array([0.00000000e+00, 1.30000000e+01, 4.48000000e-01, 6.17586207e+01,
                    6.55239000e+01, 2.15000000e-01, 4.82000000e-01, 3.82000000e+02,
                    6.22000000e-01, 1.06500000e-01, 7.87250000e-02, 4.28000000e-01,
                    3.44000000e-01, 1.57000000e+02]),
             'Buffalo': array([0.00000000e+00, 1.20000000e+01, 4.00000000e-01, 6.72666667e+01,
                    6.76651000e+01, 1.90000000e-01, 4.76000000e-01, 4.26000000e+02,
                    6.53000000e-01, 9.32000000e-02, 6.03840000e-02, 4.17000000e-01,
                    3.41000000e-01, 1.98000000e+02]),
             'Butler': array([1.000000e+00, 2.600000e+01, 8.130000e-01, 7.034375e+01,
                    6.205830e+01, 1.380000e-01, 5.320000e-01, 3.950000e+02,
                    6.830000e-01, 1.234000e-01, 6.928800e-02, 4.520000e-01,
                    3.830000e-01, 2.800000e+02]),
             'BYU': array([0.00000e+00, 1.80000e+01, 6.00000e-01, 7.05000e+01, 6.53801e+01,
                    1.83000e-01, 5.26000e-01, 5.23000e+02, 7.60000e-01, 7.87000e-02,
                    7.89470e-02, 4.70000e-01, 3.97000e-01, 1.70000e+02]),
             'C Michigan': array([0.00000e+00, 9.00000e+00, 3.21000e-01, 7.00000e+01, 6.79218e+01,
                    1.97000e-01, 5.00000e-01, 4.84000e+02, 6.92000e-01, 9.82000e-02,
                    6.72880e-02, 4.59000e-01, 2.99000e-01, 1.22000e+02]),
             'Cal Poly SLO': array([0.00000000e+00, 1.50000000e+01, 5.56000000e-01, 6.92592593e+01,
                    6.82779000e+01, 1.72000000e-01, 4.87000000e-01, 3.48000000e+02,
                    6.80000000e-01, 1.02600000e-01, 6.93880000e-02, 4.26000000e-01,
                    3.38000000e-01, 1.90000000e+02]),
             'Campbell': array([0.00000000e+00, 8.00000000e+00, 2.96000000e-01, 7.07037037e+01,
                    6.83651000e+01, 1.83000000e-01, 4.96000000e-01, 3.80000000e+02,
                    7.02000000e-01, 7.79000000e-02, 6.20370000e-02, 4.41000000e-01,
                    3.65000000e-01, 1.69000000e+02]),
             'Canisius': array([0.00000e+00, 1.00000e+01, 3.33000e-01, 6.55000e+01, 6.61842e+01,
                    1.58000e-01, 4.39000e-01, 3.79000e+02, 6.87000e-01, 1.09800e-01,
                    8.09400e-02, 3.83000e-01, 3.21000e-01, 2.04000e+02]),
             'Centenary': array([0.00000000e+00, 1.40000000e+01, 5.19000000e-01, 7.21111111e+01,
                    6.55790000e+01, 1.78000000e-01, 5.04000000e-01, 4.10000000e+02,
                    6.83000000e-01, 1.04800000e-01, 5.89600000e-02, 4.48000000e-01,
                    3.86000000e-01, 1.69000000e+02]),
             'Charleston So': array([0.0000000e+00, 1.2000000e+01, 4.1400000e-01, 6.2862069e+01,
                    6.7289200e+01, 2.3000000e-01, 4.7500000e-01, 3.8500000e+02,
                    6.7100000e-01, 1.2160000e-01, 7.3674000e-02, 4.3000000e-01,
                    3.0800000e-01, 1.3600000e+02]),
             'Chattanooga': array([0.00000000e+00, 1.60000000e+01, 5.33000000e-01, 7.31666667e+01,
                    6.91942000e+01, 1.82000000e-01, 4.89000000e-01, 4.36000000e+02,
                    7.19000000e-01, 9.66000000e-02, 1.25926000e-01, 4.40000000e-01,
                    3.45000000e-01, 1.75000000e+02]),
             'Chicago St': array([0.00000000e+00, 2.00000000e+00, 7.10000000e-02, 6.30714286e+01,
                    6.95393000e+01, 2.16000000e-01, 4.36000000e-01, 3.52000000e+02,
                    6.16000000e-01, 9.03000000e-02, 4.40770000e-02, 4.00000000e-01,
                    2.77000000e-01, 1.18000000e+02]),
             'Clemson': array([1.00000000e+00, 1.30000000e+01, 4.33000000e-01, 7.52333333e+01,
                    6.93829000e+01, 1.75000000e-01, 4.87000000e-01, 4.29000000e+02,
                    6.26000000e-01, 9.80000000e-02, 8.91890000e-02, 4.39000000e-01,
                    3.18000000e-01, 1.82000000e+02]),
             'Cleveland St': array([0.00000000e+00, 1.20000000e+01, 4.29000000e-01, 6.72142857e+01,
                    6.86665000e+01, 2.04000000e-01, 4.94000000e-01, 3.86000000e+02,
                    6.40000000e-01, 1.14500000e-01, 1.15314000e-01, 4.45000000e-01,
                    3.28000000e-01, 1.50000000e+02]),
             'Coastal Car': array([0.00000000e+00, 8.00000000e+00, 2.86000000e-01, 6.95357143e+01,
                    7.21868000e+01, 2.03000000e-01, 4.58000000e-01, 4.93000000e+02,
                    6.92000000e-01, 1.15400000e-01, 3.33330000e-02, 3.98000000e-01,
                    3.33000000e-01, 1.88000000e+02]),
             'Col Charleston': array([0.00000e+00, 2.10000e+01, 7.00000e-01, 6.94000e+01, 6.20733e+01,
                    1.68000e-01, 4.85000e-01, 4.53000e+02, 7.16000e-01, 1.05200e-01,
                    1.24201e-01, 4.35000e-01, 3.71000e-01, 1.69000e+02]),
             'Colgate': array([0.00000e+00, 1.70000e+01, 6.07000e-01, 7.27500e+01, 6.69089e+01,
                    1.63000e-01, 4.99000e-01, 4.58000e+02, 6.99000e-01, 1.06200e-01,
                    5.28990e-02, 4.54000e-01, 3.29000e-01, 1.43000e+02]),
             'Colorado': array([1.00000000e+00, 1.50000000e+01, 5.17000000e-01, 7.97241379e+01,
                    7.19373000e+01, 1.64000000e-01, 5.05000000e-01, 4.52000000e+02,
                    6.77000000e-01, 8.30000000e-02, 1.10204000e-01, 4.53000000e-01,
                    3.57000000e-01, 1.92000000e+02]),
             'Colorado St': array([0.00000e+00, 1.20000e+01, 4.00000e-01, 6.88000e+01, 6.65341e+01,
                    2.20000e-01, 5.23000e-01, 4.62000e+02, 6.75000e-01, 9.14000e-02,
                    9.88310e-02, 4.77000e-01, 3.76000e-01, 1.40000e+02]),
             'Columbia': array([0.00000000e+00, 1.10000000e+01, 3.93000000e-01, 5.51071429e+01,
                    5.93021000e+01, 2.42000000e-01, 4.91000000e-01, 3.46000000e+02,
                    6.93000000e-01, 7.19000000e-02, 1.34524000e-01, 4.17000000e-01,
                    3.36000000e-01, 1.81000000e+02]),
             'Coppin St': array([0.00000000e+00, 6.00000000e+00, 1.94000000e-01, 5.81612903e+01,
                    6.43414000e+01, 2.05000000e-01, 4.14000000e-01, 3.98000000e+02,
                    7.12000000e-01, 9.79000000e-02, 9.67740000e-02, 3.78000000e-01,
                    2.71000000e-01, 1.25000000e+02]),
             'Cornell': array([0.00000000e+00, 5.00000000e+00, 1.85000000e-01, 5.77037037e+01,
                    6.50532000e+01, 1.96000000e-01, 4.49000000e-01, 2.60000000e+02,
                    6.93000000e-01, 1.06300000e-01, 7.06840000e-02, 3.80000000e-01,
                    3.12000000e-01, 2.00000000e+02]),
             'Dartmouth': array([0.00000000e+00, 9.00000000e+00, 3.33000000e-01, 6.28888889e+01,
                    6.24555000e+01, 1.82000000e-01, 5.25000000e-01, 2.71000000e+02,
                    6.93000000e-01, 8.86000000e-02, 6.75990000e-02, 4.28000000e-01,
                    3.92000000e-01, 2.63000000e+02]),
             'Dayton': array([0.000000e+00, 2.100000e+01, 6.560000e-01, 7.309375e+01,
                    6.657370e+01, 1.670000e-01, 5.100000e-01, 4.870000e+02,
                    6.810000e-01, 8.660000e-02, 8.688500e-02, 4.480000e-01,
                    3.560000e-01, 2.240000e+02]),
             'Delaware': array([0.00000000e+00, 1.40000000e+01, 4.67000000e-01, 6.67333333e+01,
                    6.64397000e+01, 1.70000000e-01, 4.73000000e-01, 3.78000000e+02,
                    7.26000000e-01, 1.06500000e-01, 6.80850000e-02, 4.11000000e-01,
                    3.37000000e-01, 2.14000000e+02]),
             'Delaware St': array([0.00000000e+00, 1.60000000e+01, 5.52000000e-01, 6.48275862e+01,
                    6.28446000e+01, 1.70000000e-01, 4.78000000e-01, 3.71000000e+02,
                    7.38000000e-01, 9.74000000e-02, 5.87140000e-02, 4.08000000e-01,
                    3.31000000e-01, 2.21000000e+02]),
             'Denver': array([0.00000e+00, 8.00000e+00, 2.86000e-01, 6.50000e+01, 6.60317e+01,
                    1.65000e-01, 4.88000e-01, 2.96000e+02, 7.00000e-01, 9.32000e-02,
                    4.37440e-02, 4.36000e-01, 3.79000e-01, 1.62000e+02]),
             'DePaul': array([1.00000e+00, 9.00000e+00, 3.21000e-01, 7.07500e+01, 7.13308e+01,
                    1.91000e-01, 4.61000e-01, 4.00000e+02, 6.56000e-01, 9.56000e-02,
                    5.87260e-02, 4.13000e-01, 3.13000e-01, 1.65000e+02]),
             'Detroit': array([0.00000000e+00, 1.80000000e+01, 5.81000000e-01, 6.57096774e+01,
                    6.32690000e+01, 1.52000000e-01, 4.76000000e-01, 3.58000000e+02,
                    6.30000000e-01, 8.04000000e-02, 9.39720000e-02, 4.28000000e-01,
                    3.26000000e-01, 1.67000000e+02]),
             'Drake': array([0.00000000e+00, 1.40000000e+01, 4.83000000e-01, 6.92068966e+01,
                    6.44531000e+01, 1.79000000e-01, 5.24000000e-01, 4.37000000e+02,
                    7.21000000e-01, 7.51000000e-02, 3.40390000e-02, 4.46000000e-01,
                    3.90000000e-01, 2.32000000e+02]),
             'Drexel': array([0.00000000e+00, 1.40000000e+01, 5.00000000e-01, 7.28571429e+01,
                    7.03895000e+01, 1.52000000e-01, 4.65000000e-01, 4.40000000e+02,
                    6.79000000e-01, 9.11000000e-02, 1.11386000e-01, 4.10000000e-01,
                    3.22000000e-01, 1.88000000e+02]),
             'Duquesne': array([0.00000e+00, 9.00000e+00, 3.21000e-01, 6.40000e+01, 6.64612e+01,
                    2.04000e-01, 4.72000e-01, 3.92000e+02, 7.25000e-01, 8.54000e-02,
                    7.06970e-02, 4.21000e-01, 3.49000e-01, 1.52000e+02]),
             'E Illinois': array([0.00000000e+00, 1.50000000e+01, 4.84000000e-01, 7.43548387e+01,
                    7.05837000e+01, 1.77000000e-01, 4.84000000e-01, 4.96000000e+02,
                    6.97000000e-01, 8.12000000e-02, 5.71200000e-02, 4.30000000e-01,
                    3.43000000e-01, 2.05000000e+02]),
             'E Kentucky': array([0.00000e+00, 7.00000e+00, 2.59000e-01, 7.30000e+01, 7.01984e+01,
                    1.81000e-01, 4.58000e-01, 3.78000e+02, 7.23000e-01, 1.02300e-01,
                    5.92170e-02, 4.07000e-01, 2.99000e-01, 1.77000e+02]),
             'E Michigan': array([0.00000000e+00, 6.00000000e+00, 2.00000000e-01, 6.64666667e+01,
                    6.77356000e+01, 2.04000000e-01, 4.68000000e-01, 5.14000000e+02,
                    6.90000000e-01, 5.86000000e-02, 7.23300000e-02, 4.22000000e-01,
                    3.37000000e-01, 1.46000000e+02]),
             'E Washington': array([0.00000e+00, 1.70000e+01, 5.67000e-01, 6.98000e+01, 6.88964e+01,
                    2.21000e-01, 5.31000e-01, 5.05000e+02, 7.08000e-01, 9.63000e-02,
                    6.87020e-02, 4.72000e-01, 3.85000e-01, 1.77000e+02]),
             'East Carolina': array([0.00000e+00, 1.20000e+01, 4.00000e-01, 6.44000e+01, 6.50097e+01,
                    1.84000e-01, 4.51000e-01, 4.31000e+02, 6.90000e-01, 8.52000e-02,
                    1.15348e-01, 3.88000e-01, 3.10000e-01, 2.09000e+02]),
             'Elon': array([0.00000000e+00, 1.30000000e+01, 4.48000000e-01, 6.95172414e+01,
                    7.20921000e+01, 1.94000000e-01, 4.47000000e-01, 4.20000000e+02,
                    6.73000000e-01, 1.17300000e-01, 8.85950000e-02, 4.13000000e-01,
                    3.14000000e-01, 1.22000000e+02]),
             'Evansville': array([0.00000000e+00, 7.00000000e+00, 2.50000000e-01, 6.76071429e+01,
                    6.91577000e+01, 2.13000000e-01, 5.05000000e-01, 4.05000000e+02,
                    7.21000000e-01, 7.85000000e-02, 7.02440000e-02, 4.50000000e-01,
                    3.47000000e-01, 1.64000000e+02]),
             'F Dickinson': array([0.00000000e+00, 4.00000000e+00, 1.38000000e-01, 7.14827586e+01,
                    7.03778000e+01, 2.11000000e-01, 4.91000000e-01, 4.52000000e+02,
                    6.84000000e-01, 9.02000000e-02, 6.28480000e-02, 4.32000000e-01,
                    3.20000000e-01, 1.95000000e+02]),
             'Fairfield': array([0.00000000e+00, 1.20000000e+01, 4.14000000e-01, 7.16551724e+01,
                    7.18697000e+01, 2.11000000e-01, 4.81000000e-01, 5.25000000e+02,
                    7.30000000e-01, 1.12200000e-01, 1.64191000e-01, 4.32000000e-01,
                    3.39000000e-01, 1.57000000e+02]),
             'Florida A&M': array([0.00000000e+00, 9.00000000e+00, 3.21000000e-01, 6.65357143e+01,
                    6.94155000e+01, 2.10000000e-01, 4.57000000e-01, 4.14000000e+02,
                    6.56000000e-01, 1.10800000e-01, 8.52270000e-02, 4.03000000e-01,
                    3.22000000e-01, 1.73000000e+02]),
             'Florida St': array([1.00000000e+00, 1.20000000e+01, 4.14000000e-01, 7.17931034e+01,
                    6.82735000e+01, 1.88000000e-01, 4.78000000e-01, 3.95000000e+02,